.producto{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

producto:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.borrado{
  padding: 10px;
  width: 30px;
}

.correo{
  display: flex;
  flex-direction: row-reverse;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
