<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-cliente" >
  <link rel="import" type="css" href="../../src/style/techu.css">
  <template>
  <div class="topnav">
    <div>
      <a class="active" href="#">Registro</a>
      <a href="/login">Inicio</a>
    </div>
    <div class="correo">
        <a href="#nombre" ></a>
    </div>
  </div>


  <style>
    :host {
      display: block;
    }
  </style>
  <table align="center">
    <tr>
      <th colspan="3">Registrar nuevo cliente</th>
    </tr>
    <tr>
      <td><label for="">&nbsp;&nbsp;Nombre</label></td>
      <td><input type="text" name="" value="{{valname::input}}" required="required"></td>
    </tr>
    <tr>
      <td><label for="">&nbsp;&nbsp;Correo Electronico</label></td>
      <td><input type="email" name="" value="{{valuser::input}}" placeholder="example@bbva.com" required="required"></td>
    </tr>
    <tr>
        <td><label for="">&nbsp;&nbsp;Ingrese su password</label></td>
        <td> <input value="{{valpass::input}}" required="required" type="password"></td>
    </tr>
    <tr>
        <td><label for="">&nbsp;&nbsp;Confirma tu password</label></td>
        <td> <input value="{{valpass2::input}}" required="required" type="password"></td>
    </tr>
    <tr>
      <td colspan="3" align="center"><button on-click="crearCliente" type="button" value="alta" class="btn btn-info">Aceptar</button></td>
    </tr>
  </table>

  <iron-ajax id="agregarCliente"
              url="http://localhost:3001/api/signUp"
              method="POST"
  						handle-as="json"
              content-type="application/json"
              on-response="nuevoCliente">
  </iron-ajax>

  </template>
  <script>
  class AltaCliente extends Polymer.Element{
    static get is(){return 'alta-cliente';}
    static get properties() {
      return {
        nombre: {
          type: String
        },
        email:{
          type:String
        },
        password:{
          type:String
        },
        respuesta:{
          type:String
        }
      };

    }
    crearCliente()
      {
        console.log("en invocar peticion");
        var cliente = {
          email: this.valuser,
          password: this.valpass,
          displayName: this.valname
        };

       this.$.agregarCliente.body = cliente;
       console.log('HEADER TOKEN',this.$.agregarCliente.body);
       console.log('cliente',cliente);
       //dolar es para buscar en shadow dom
       if(this.valpass == this.valpass2){
         this.$.agregarCliente.generateRequest();
       }else{
         alert("Las contraseñas no coinciden");
       }

      }
      nuevoCliente(data){
        console.log(data.detail.status);
  			if(data.detail.status==200)
  			{
  				alert("Exitoso :)");
          document.location.href="/login";
  			}
  			else {
  				document.location.href="/error";
  			}
      }

  } window.customElements.define(AltaCliente.is,AltaCliente);
  </script>
</dom-module>
