<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-producto" >
  <link rel="import" type="css" href="../../src/style/techu.css">

  <template>
    <div class="topnav">
      <div>
        <a class="active" href="#">Add</a>
        <a href="/consultaproductos/{{id}}">Home</a>
        <a href="/login">Logout</a>
      </div>
      <div class="correo">
          <a href="#nombre" >{{email}}</a>
      </div>
    </div>
  <style>
    :host {
      display: block;
    }
  </style>
  <h1>Bienvenido {{email}}</h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Producto</th>
      <th></th>
    </tr>
    <template is="dom-repeat" items="{{inventarios}}" index-as="index">
      <tr>
        <td>
            <p>[[item.name]]</p>
        </td>
        <td>
            <img src="[[item.picture]]" alt="" on-click="clickId" class="producto">
        </td>
        <td>
            <img src="../src/iconos/shopping_cart_add.png" name ="[[item.name]]" class="borrado" on-click='agregarProducto'>
        </td>
      </tr>

    </template>
  </table>
  <iron-ajax auto id="obtenerInventario"
              url="http://localhost:3001/api/listinventarios"
              method="GET"
  						handle-as="json"
              headers="{{getHeaders()}}"
             on-response="consultaInventario">
  </iron-ajax>
  <iron-ajax id="addProducto"
              url="http://localhost:3001/api/product"
              method="POST"
              handle-as="json"
              headers="{{getHeaders()}}"
              content-type="application/json"
             on-response="responsProducto">
  </iron-ajax>

  </template>
  <script>
  class AltaProducto extends Polymer.Element{
    static get is(){return 'alta-producto';}
    static get properties() {
      return {
        productos: {
          type: Array
        },
        token: {
          type: String
        },
        email:{
          type:String
        },
        idcliente:{
          type:String
        }
      };

    }
    inicioPantalla()
      {
        var headerToken = sessionStorage.getItem('userToken');
      console.log('::::::::::::::',sessionStorage.getItem('idcliente'));
       console.log("en invocar peticion");
       this.$.obtenerInventario.headers.token=headerToken;
       console.log('HEADER TOKEN',this.$.obtenerInventario.headers.token);
       //dolar es para buscar en shadow dom
       this.$.obtenerInventario.generateRequest();
      }
      //indicar que a mostrarCuentas le pasamos los datos que regresa iron ajax
    consultaInventario(data)
    {
      var headerToken = sessionStorage.getItem('userToken');
      //console.log("en invocar peticion");
      this.$.obtenerInventario.headers.token=headerToken;
      console.log(':::::::::::::',headerToken);
      //console.log('HEADER TOKEN',this.$.obtenerProductos.headers.token);
      //console.log('EMAIL',sessionStorage.getItem('userEmail'));
      //console.log("en respuesta "+this.id);
      //console.log('token--->', sessionStorage.getItem('userToken'));
      this.set('token', headerToken);
      let arr = data.detail.response;
      this.set('inventarios', arr.inventarios);
      this.set('email', sessionStorage.getItem('userEmail'));
      this.set('id',sessionStorage.getItem('idcliente'));

    console.log('INVENTARIOS',arr.inventarios);

    }

    agregarProducto(e){
      var payload ={
        name:e.model.item.name,
        price:e.model.item.price,
        picture:e.model.item.picture,
        category:e.model.item.category,
        description: e.model.item.description,
        idusuario: sessionStorage.getItem('idcliente')
      };
     var headerToken = sessionStorage.getItem('userToken');
     console.log("SE AGREGA PRODUCTO");
     this.$.addProducto.headers.token=headerToken;
     console.log('HEADER TOKEN',this.$.addProducto.headers.token);
     //dolar es para buscar en shadow dom
      this.$.addProducto.body = payload;
      this.$.addProducto.generateRequest();
    }

    responsProducto(data){
      console.log('RESULTO');
      document.location.href="/consultaproductos/"+sessionStorage.getItem('idcliente');
    }

    getHeaders() {
      var headerToken = sessionStorage.getItem('userToken');
      return {"Authorization": headerToken};
    }
  } window.customElements.define(AltaProducto.is,AltaProducto);
  </script>
</dom-module>
