<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="error-page" >
  <link rel="import" type="css" href="../../src/style/techu.css">
  <template>
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#news">Logout</a>
    </div>
  <style>
    :host {
      display: block;
    }
  </style>
  <h1>Ha ocurrido un error</h1>

  </template>
  <script>
  class ErroPage extends Polymer.Element{
    static get is(){return 'error-page';}
    static get properties() {
      return {
        nombre: {
          type: String
        },
        email:{
          type:String
        },
        password:{
          type:String
        },
        respuesta:{
          type:String
        }
      };

    }

  } window.customElements.define(ErroPage.is,ErroPage);
  </script>
</dom-module>
