<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="inicio-front">
    <link rel="import" type="css" href="../../src/style/techu.css">
  <template>
    <div class="topnav">
      <div>
        <a class="active" href="#">SingIn</a>
        <a href="/alta">Alta</a>
      </div>
      <div class="correo">
          <a href="#nombre"></a>
      </div>
    </div>
     <style>
     :host {
       display: block;
     }
     </style>
     <h1>
      Bienvenido
     </h1>
     <iron-ajax id="lanzarLogin"
                 url="http://localhost:3001/api/signIn"
                 method="POST"
                 headers='{"X-Requested-With": "XMLHttpRequest"}'
 								handle-as="text"
                body="[[body]]"
                content-type="application/json"
                on-response="respuestaLogin">
     </iron-ajax>
<table  align="center">
 <tr>
     <td><label for="">&nbsp;&nbsp;Por favor ingrese su usuario</label></td>
     <td><input type="text" name="" value="{{valuser::input}}" placeholder="example@bbva.com" required="required"></td>
     <td><label for="">&nbsp;&nbsp;Ingrese su password</label></td>
     <td><input value="{{valpass::input}}" required="required" type="password"></td>
 </tr>
 <tr>
      <td colspan="4" align="center"> <button on-click="hacerLogin" type="button" value="login" class="btn btn-info">Entrar</button></td>
 </tr>
 <tr>
    <td colspan="4" align="center"><a href="/alta">Crea una cuenta</a></td>
  </tr>
</table>
    <inicio-navegacion token="{{tokenData}}"></inicio-navegacion>
 </template>
  <script>

        class InicioFront extends Polymer.Element{
          static get is(){return 'inicio-front'};
          static get properties() {
      			return {
      				valor: {
      					type: String
      				}
      			};
      		}
          hacerLogin()
      		{
            var obj = {
              email: this.valuser,
              password: this.valpass
            };
            console.log(obj);
            //console.log('*************',this.valuser);
            sessionStorage.setItem('userEmail',this.valuser);
            this.$.lanzarLogin.body = obj;
      			this.$.lanzarLogin.generateRequest();

      		}
      		respuestaLogin(data)
      		{

            var valor=JSON.parse(data.detail.response);
          /*console.log('******DATA',data);
      			console.log("en respuesta login ==> ");
      			console.log(data.detail.response);
      			console.log((""+data.detail.response.length)>0);
            console.log(valor.token);*/

            this.set('token', valor.token);
      		if((""+data.detail.response.length)>0)
      			{
      				console.log("respuesta==> "+valor.token);
              //console.log('EMAIL*******',sessionStorage.getItem('userEmail'));
      				sessionStorage.setItem('userData',valor.userid);
              sessionStorage.setItem('userToken', valor.token);
      				//sessionStorage.setItem("oid",valor.oid);
      				console.log("valor de usaurio en sesion= "+sessionStorage.getItem("userData"));
      				//console.log("valor de usaurio en sesion= "+sessionStorage.getItem("oid"));
      				document.location.href="/consultaproductos/"+valor.userid;
      			}else {
      				alert("Error en la autenticacion, nombre de usuario o contraseña incorrectos");
      			}
      		}
    }window.customElements.define(InicioFront.is,InicioFront);

  </script>
</dom-module>
