<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="inicio-navegacion" >
  <link rel="import" type="css" href="../../src/style/techu.css">

  <template>
    <div class="topnav">
      <div>
        <a class="active" href="/consultaproductos/{{id}}">Home</a>
        <a href="/login">Logout</a>
      </div>
      <div class="correo">
          <a href="#nombre" >{{email}}</a>
      </div>
    </div>

  <style>
    :host {
      display: block;
    }
  </style>
  <h1>Bienvenido</h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Producto</th>
      <th>Descripcion</th>
      <th></th>
      <th><a href="/altaproducto">Añadir Producto</a></th>
    </tr>
    <template is="dom-repeat" items="{{productos}}" index-as="index">
      <tr>
        <td on-click="clickId">
            <p>[[item.name]]</p>
        </td>
        <td on-click="clickId">
            <img src="[[item.picture]]" alt="" class="producto">
        </td>
        <td on-click="clickId">
            <textarea id="[[item._id]]" rows="5" cols="35" readonly>[[item.description]]</textarea>
        </td>
        <td>
            <img src="../src/iconos/shopping_cart_remove.png" on-click="borrarProducto" class="borrado">
        </td>
      </tr>

    </template>
  </table>
  <iron-ajax auto id="obtenerProductos"
              url="http://localhost:3001/api/product/{{id}}"
              method="GET"
  						handle-as="json"
              headers="{{getHeaders()}}"
             on-response="mostrarProductos">
  </iron-ajax>
  <iron-ajax  id="borrarProducto"
              url="http://localhost:3001/api/product/{{productId}}"
              method="DELETE"
              headers="{{getHeaders()}}"
             on-response="resDelete">
  </iron-ajax>

  </template>
  <script>
  class InicioNavegacion extends Polymer.Element{
    static get is(){return 'inicio-navegacion';}
    static get properties() {
      return {
        productos: {
          type: Array
        },
        token: {
          type: String
        },
        email:{
          type:String
        }
      };

    }
    inicioPantalla()
      {
       var headerToken = sessionStorage.getItem('userToken');
       console.log("en invocar peticion");
       this.$.obtenerProductos.headers.token=headerToken;
       console.log('HEADER TOKEN',this.$.obtenerProductos.headers.token);
       //dolar es para buscar en shadow dom
       this.$.obtenerProductos.generateRequest();
      }
      //indicar que a mostrarCuentas le pasamos los datos que regresa iron ajax
    mostrarProductos(data)
    {

      var headerToken = sessionStorage.getItem('userToken');
      //console.log("en invocar peticion");
      this.$.obtenerProductos.headers.token=headerToken;
      //console.log('HEADER TOKEN',this.$.obtenerProductos.headers.token);
      //console.log('EMAIL',sessionStorage.getItem('userEmail'));
      console.log("en respuesta "+this.id);
      //console.log('token--->', sessionStorage.getItem('userToken'));
      this.set('token', headerToken);
      let arr = data.detail.response;
      this.set('id',this.id);
      this.set('productos', arr.product);
      sessionStorage.setItem('idcliente',this.id);
      this.set('email', sessionStorage.getItem('userEmail'));
      this.cuentas=data.detail.response;
      this.noTengoCuentas=false;
    }

    borrarProducto(e){
      console.log('DELETE:::::::',e.model.item);
      console.log('DELETE:::::::',e.model.item._id);
      this.set('productId',e.model.item._id);
      var headerToken = sessionStorage.getItem('userToken');
      console.log("en invocar peticion");
      this.$.borrarProducto.headers.token=headerToken;
      console.log('HEADER TOKEN',this.$.borrarProducto.headers.token);
      //dolar es para buscar en shadow dom
      this.$.borrarProducto.generateRequest();
      document.location.href="/consultaproductos/"+sessionStorage.getItem('idcliente');
    }

    resDelete(data){

      console.log('REST DELETE');
        document.location.href="/consultaproductos/"+sessionStorage.getItem('idcliente');
    }

    clickId(e) {
      console.log(e.model.item);
      sessionStorage.setItem('nombre',e.model.item.name);
      sessionStorage.setItem('idprod',e.model.item._id);
      sessionStorage.setItem('picture',e.model.item.picture);
      sessionStorage.setItem('description',e.model.item.description);
      //var obj = e.model.item;
        document.location.href='/updateproducto';

    //  document.getElementById(e.model.item._id).readOnly = false;
    }
    getHeaders() {
      var headerToken = sessionStorage.getItem('userToken');
      return {"Authorization": headerToken};
    }
  } window.customElements.define(InicioNavegacion.is,InicioNavegacion);
  </script>
</dom-module>
