<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="update-producto" >
  <link rel="import" type="css" href="../../src/style/techu.css">

  <template>
    <div class="topnav">
      <div>
        <a class="active" href="#home">Acutalizar</a>
        <a href="/consultaproductos/{{id}}">Home</a>
        <a href="/login">Logout</a>
      </div>
      <div class="correo">
          <a href="#nombre" >{{email}}</a>
      </div>
    </div>


  <style>
    :host {
      display: block;
    }
  </style>
  <h1> Agrega un comentario </h1>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Producto</th>
      <th>Comentario</th>
    </tr>
      <tr>
        <td>
            <p>{{producto}}</p>
        </td>
        <td>
            <img src="{{picture}}" alt="" class="producto">
        </td>
        <td>
            <textarea id="{{idprod}}" rows="5" value="{{valdescription::input}}" cols="35">{{description}}</textarea>
        </td>
        <td>
          <button type="button" name="actualiza" on-click="updateProd" class="btn btn-info">Actualizar comentario</button>
        </td>
      </tr>
  </table>

  <iron-ajax  id="updateProducto"
              url="http://localhost:3001/api/product/{{idprod}}"
              method="PUT"
              handle-as="json"
              body="[[body]]"
              headers="{{getHeaders()}}"
              content-type="application/json"
             on-response="resUpdate">
  </iron-ajax>

  </template>
  <script>
  class UpdateProducto extends Polymer.Element{
    static get is(){return 'update-producto';}
    static get properties() {
      return {
        productos: {
          type: Array
        },
        token: {
          type: String
        },
        email:{
          type:String
        },
        idcliente:{
          type:String
        },
        producto:{
          type:Object,
          observer: 'inicioPantalla'
        }
      };
    }
ready(){
  console.log('....Ready');
  super.ready();
  this.inicioPantalla();
}

    inicioPantalla()
      {
      var headerToken = sessionStorage.getItem('userToken');
        this.set('email',sessionStorage.getItem('userEmail'));
        this.set('producto', sessionStorage.getItem('nombre'));
        this.set('idprod', sessionStorage.getItem('idprod'));
        this.set('picture', sessionStorage.getItem('picture'));
        this.set('description', sessionStorage.getItem('description'));
        this.set('id',sessionStorage.getItem('idcliente'));
         console.log("en invocar peticion");
      }

      updateProd(){
        var obj = {
          description: this.valdescription
        };
        console.log(obj);
        //console.log('*************',this.valuser);
        this.$.updateProducto.body = obj;
        console.log('KKKKKKKK',this.$.updateProducto.body);
        this.$.updateProducto.generateRequest();
      }

      resUpdate(data){

        document.location.href="/consultaproductos/"+sessionStorage.getItem('idcliente');
      }

      getHeaders() {
        var headerToken = sessionStorage.getItem('userToken');
        return {"Authorization": headerToken};
      }

  } window.customElements.define(UpdateProducto.is,UpdateProducto);
  </script>
</dom-module>
